.resume {
  margin-top: 2rem;

  @media print {
    a.workplace__org[href],
    a.school__org[href] {
      text-decoration: none;
      &:after {
        content: "";
      }
    }
  }

  header {
    margin: 2rem auto 0;
  }

  section {
    margin: 2rem auto 0;
  }

  .section__header {
    margin: 4rem 0 2rem;
    font-size: 0.75rem;
    text-transform: uppercase;
    letter-spacing: 1.2px;
    line-height: 1;
  }

  ul.section__list {
    list-style: none;
    padding: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .section__item {
    margin-bottom: 3rem;
  }

  .workplace,
  .school {

  }

  .workplace__primary,
  .school__primary {
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    a {
      color: inherit;
    }
    h3 {
      margin-bottom: 0;
    }
  }

  .workplace__secondary,
  .school__secondary {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    color: $dark-gray;
  }

  .workplace__title,
  .school__title {

  }

  .workplace__date,
  .school__date {

  }

  .workplace__content,
  .school__content {
    ul {
      list-style-type: $list-style-type;
      margin-bottom: $list-margin-bottom;
    }
  }

  .skill {
    background: $light-gray;
    padding: 0.25rem 0.5rem;
    white-space: nowrap;

    @media print {
      & {
        background: transparent;
        padding: inherit;
      }
    }

    &:hover {
      background: darken($light-gray, 10%);
    }
  }

}
