---
layout: default
title: Portfolio
---

<div class="portfolio container">
  <header class="show-for-print">
    <h1 class="name">Philip Jones</h1>
  </header>
  <section class="projects">
    <ul class="section__list">
      {% for post in site.categories['project'] %}
          <li class="section__item project">
            <div class="item__primary">
              <% unless post.link == '' %>
                <a class="item__org" href={{ post.link }} target="_blank">{% endif %}
                <h3>{{ post.title }}</h3>
              <% if post.link %>
              </a>{% endif %}
            </div>
            <p class="item__secondary">
              {% unless post.location == '' %}
              <span class="item__location">{{ post.location }}</span>
              {% endunless %}
              <span class="item__date">
                <span>{{ post.date | date_to_string }}</span>
                <span> – </span>
                <span>
                  {% if post.to-date %}
                  {{ post.to-date | date_to_string }}
                  {% else %}Present{% endif %}
                </span>
              </span>
            </p>
            <div class="item__content">
              {{ post.content }}
            </div>
          </li>
        {% endfor %}
    </ul>
  </section>
</div>
