
.icon-github-circled:before { content: '\e800'; } /* '' */
.icon-twitter-circled:before { content: '\e801'; } /* '' */
.icon-facebook-circled:before { content: '\e802'; } /* '' */
.icon-vimeo-circled:before { content: '\e803'; } /* '' */
.icon-flickr-circled:before { content: '\e804'; } /* '' */
.icon-gplus-circled:before { content: '\e805'; } /* '' */
.icon-pinterest-circled:before { content: '\e806'; } /* '' */
.icon-tumblr-circled:before { content: '\e807'; } /* '' */
.icon-linkedin-circled:before { content: '\e808'; } /* '' */
.icon-dribbble-circled:before { content: '\e809'; } /* '' */
.icon-stumbleupon-circled:before { content: '\e80a'; } /* '' */
.icon-lastfm-circled:before { content: '\e80b'; } /* '' */
.icon-rdio-circled:before { content: '\e80c'; } /* '' */
.icon-spotify-circled:before { content: '\e80d'; } /* '' */
.icon-skype-circled:before { content: '\e80e'; } /* '' */